{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/w2.css' %}">
   
</head>
<body>
   
    
    <div class="about-section">
       
        
        <h2>ELITE CAR RENTALS</h2>
        <p>We are Elite Car Rentals, an online cab booking aggregator, providing customers with reliable and premium Intercity and Local car rental services. Over the last decade, we are uniquely placed as the largest self driven car rental company in India in terms of geographical reach.</p>
      </div>
      
      <h2 style="text-align:center">Why Elite?</h2>
      <div class="row">
        <div class="column">
          <div class="card">
            <img src="{% static 'images/download (2).png' %}" alt="" width="22%">
            <div class="container">
              <h2>Home delivery & return</h2>
              
              <p>On-time doorstep service,at your preferred location and time</p>
              
              
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="{% static 'images/images.png' %}" alt="" style="width:30%">
            <div class="container">
              <h2>Well maintained cars</h2>
                <p>Regular service & maintenance;inspected before each trip</p>
              
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="{% static 'images/download (1).png' %}" alt="" style="width:26%">
            <div class="container">
              <h2>Zero security deposit</h2>
              
              <p>Book a vehicle with lowest security deposit in.</p>
              
            </div>
          </div>
        </div>
      </div>
    <div class="about-section">
        <h1>Serviceable cities</h1>
        <p>
            Kochi|Thiruvananthapuram|Kozhikkode|Thrissur|Kollam|Kannur|Kottayam|Alappuzha|Palakkad|Malappuram|Kasargod|Varakala|Thalassery|Ponnani|Thrissur|<br>Kunnamkulam|Pathanamthitta|Aluva|Thodupuzha|Angamaly|Kakkanad
            
        </p>
    </div>
</body>
</html>